body {
  margin: 0px;
  font-family: Roboto, Arial;
  margin: 0;
  height: 100vh;
  color: white;
  position: relative;
  background: url(images/back2.1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 /* background: linear-gradient(
   to bottom, 
   #0b0b2b, 
   #1b2735 70%, 
   #090a0f); 
  background-size: 400% 400%; */
}